# Stripe API keys - see https://stripe.com/docs/development#api-keys
STRIPE_PUBLISHABLE_KEY=pk_test_51HDZnHL1Ff9f3n19SENlqSyAyCNOJXkjXnnEjp3wfL2JOjeHQdBjfLIV0yVS2t0CZpMISvbhRtVLRdgz02izZHCJ003mx3JOaA
STRIPE_SECRET_KEY= sk_test_51HDZnHL1Ff9f3n193kvTrQSKzUZtEyw3oa5dofIEzrxRuooznXHl5Fp7tEQntTkIktRFptNHYwxaO1Wkcm374wIp00S1OgJQis
