

<%- include ("./partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Sign Up </h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control"name="username" placeholder ="username">
                </div>
               <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder ="password">
                  </div>
                  <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="email">
                  </div>


                  <div class="form-group">
                  <input type="password" class="form-control" name="adminCode" placeholder ="Submit your adminCode if you are one!">
                  </div>

                  <div>
                  <input type="text" class="form-control" name="typeCode" placeholder ="Please type Teacher if you are one!">
                 
                  </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
                      <p>Already have an account? <a href="/login">Login</a> </p>
                      <p>Forgot password? <a href="/forgot">Recover Here</a> </p>

        </div>
    </div>
</div>
<%- include ("./partials/footer") %>